@import url("../../../root.css");
@import url("../../../global.css");
@import url("../../../Components/Button/styles.css");

.sectionMapHomePage {
  width: 100%;
  height: 47.1875rem;
  position: relative;
  overflow: hidden;
}

.sectionMapHomePage .sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sectionMapHomePage .sectionContent {
  position: absolute;
  top: 7.69rem;
  left: 11.56rem;
  width: 40rem;
}

.sectionMapHomePage .sectionContent > p {
  color: #989898;
  font-family: "SVN-Helvetica Now";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
  margin-bottom: 1.12rem;
}

.sectionMapHomePage .sectionContent > h3 {
  background: var(
    --Text-Title-text-2,
    linear-gradient(91deg, #515954 -6.81%, #2a603e 56.73%, #9db6a6 121.41%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "SVN-Helvetica Now";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.7rem */
  margin-bottom: 2.87rem;
}

.sectionMapHomePage .counterContainer .counter div{
  display: flex;
  justify-content: start;
}

.sectionMapHomePage .sectionContent .counterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 4.06rem;
}

.sectionMapHomePage .counterContainer .counter p {
  color: var(--Foundation-Grey-grey-300, #929292);
  font-family: "SVN-Helvetica Now";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.sectionMapHomePage .counterContainer .counter h3 {
  color: var(--Foundation-Grey-grey-500, #5c5c5c);
  font-family: "SVN-Helvetica Now";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.875rem */
  text-transform: uppercase;
}

.sectionMapHomePage .counterContainer .counter .timer {
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Philosopher;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.sectionMapHomePage .counterContainer .counter .plus {
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Philosopher;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.sectionMapHomePage .sectionContent .btn_contact {
  width: 14.0625rem;
}

.sectionMapHomePage > .btn_contact{
  display: none;
}

.sectionMapHomePage .map {
  position: absolute;
  top: 5.31rem;
  right: 15rem;
}

.sectionMapHomePage .map img {
  position: relative;
  width: 29.1875rem;
  height: 42.125rem;
}

.sectionMapHomePage .map .roundAnimation::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  border: 2px #32890e solid;
  background-color: transparent;
  animation: scaleAndFade 2s ease-out infinite;
}

@keyframes scaleAndFade {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

@media (max-width: 639px) {
  .sectionMapHomePage {
    width: 100%;
    height: 56.1875rem;
    position: relative;
    padding: 3rem 1rem 0;
  }

  .sectionMapHomePage .sectionBackground {
    display: none;
  }

  .sectionMapHomePage .sectionContent {
    position: unset;
    width: 100%;
  }

  .sectionMapHomePage .sectionContent > p {
    letter-spacing: 0.00938rem;
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .sectionMapHomePage .sectionContent > h3 {
    font-size: 1.25rem;
    margin-bottom: 1.41rem;
    text-align: center;
  }

  .sectionMapHomePage .sectionContent .counterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 2.82rem;
    margin: 0 auto;
  }

  .sectionMapHomePage .counterContainer .counter p {
    font-size: 0.875rem;
    text-align: center;
  }

  .sectionMapHomePage .counterContainer .counter h3 {
    font-size: 0.875rem;
    text-align: center;
  }

  .sectionMapHomePage .counterContainer .counter div{
    display: flex;
    justify-content: center;
  }

  .sectionMapHomePage .counterContainer .counter .timer {
    font-size: 3rem;
  }

  .sectionMapHomePage .counterContainer .counter .plus {
    font-size: 1.5rem;
  }
  .sectionMapHomePage > .btn_contact{
    width: 12.5rem;
    font-size: 0.8125rem;
    margin: 2.37rem auto 0;
    display: flex;
  }
  .sectionMapHomePage .sectionContent .btn_contact {
    display: none;
  }

  .sectionMapHomePage .map {
    position: unset;
    margin-top: 1.5rem;
  }
  
  .sectionMapHomePage .map .roundAnimation{
    display: flex;
    justify-content: center;
    position: relative;
  }

  .sectionMapHomePage .map img {
    position: relative;
    width: 18.91488rem;
    height: 26.09681rem;
    align-self: center;
  }

  .sectionMapHomePage .map .roundAnimation::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    border: 2px #32890e solid;
    background-color: transparent;
    animation: scaleAndFade 2s ease-out infinite;
  }
  @keyframes scaleAndFade {
    0% {
      transform: translate(-50%, -50%) scale(0.1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }
}


